Experimento-Avanzado-NodeRED/Node-RED/flows.json
[{"id":"099b2475ef64758f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"5c53e2699a5e9d13","type":"group","z":"099b2475ef64758f","name":"Datos Ambientales","style":{"fill":"#ffff00","label":true},"nodes":["90ef093dedf4837c","1e3adba6ba166433","7f372ae8421099a1","bda292aba1946542","1a342550afd69e46","712bbfd54a05ea20","a5b62dc53528050f","720d5f5ddb70e01c","201b186352651b59","fd65a545c7084e45","afc6e98aa08776dc","80567de1dde59fec"],"x":14,"y":19,"w":592,"h":442},{"id":"2786cfeef397ebf8","type":"group","z":"099b2475ef64758f","name":"Estados","style":{"fill":"#ffefbf","label":true},"nodes":["f560e9a6b1a3a4b5","bb18c86588b2a409","1af1d992fa9dc4ad","3978346489edb0b1","cac23f3c81b099be","495e3dc36dde7bac","272f75641bad7235","8086417b960b0ff0","3f6ef883fd8310c9"],"x":634,"y":19,"w":552,"h":282},{"id":"94b40fbea8ca9d67","type":"group","z":"099b2475ef64758f","name":"Lógica Leds","style":{"label":true,"fill":"#ffbfbf"},"nodes":["1278e602dc1fc77c","43c4f0ded09ab579","78f20ddbecfe7458","1dd13c64019055d4","4014009e81bb9bcd","c6ebba5b4d5f6159","dbd827b3da259faf","cdb2b2cf62700ae5","cd0b849668ca9d09","e51ace374f2e9920"],"x":134,"y":499,"w":692,"h":262},{"id":"7f80b691e96741a9","type":"group","z":"099b2475ef64758f","name":"Contador","style":{"fill":"#e3f3d3","label":true},"nodes":["efc53ad71871c429","cd71bb17ae70c602","3b3ee48f3da98aa0","4936f2b2952f8a08","c62a0517c5edaead","59cc5b208874e116"],"x":14,"y":799,"w":872,"h":142},{"id":"573ddf8764497146","type":"group","z":"099b2475ef64758f","name":"Guardar en BBDD","style":{"fill":"#bfdbef","label":true},"nodes":["b32235d8f4b07bd7","8097f988a3920483","ed70ffae9326e616","e44e9871c24e9760"],"x":14,"y":959,"w":912,"h":122},{"id":"32b45af9a263ab01","type":"mqtt-broker","name":"","broker":"aprendiendonodered.com","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b1cd924a9d4337a3","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6d3a289e6339ce84","type":"ui_tab","name":"Curso 5G","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ea5a4b1e55395bd8","type":"ui_group","name":"Datos Ambientales","tab":"6d3a289e6339ce84","order":2,"disp":true,"width":9,"collapse":false,"className":""},{"id":"c8c0ad062a3bbbc7","type":"ui_group","name":"Estados","tab":"6d3a289e6339ce84","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"adf9de0bfa5d1172","type":"ui_group","name":"Contador Pulsos","tab":"6d3a289e6339ce84","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2c2087a6979f2e31","type":"ui_spacer","z":"099b2475ef64758f","name":"spacer","group":"adf9de0bfa5d1172","order":2,"width":2,"height":1},{"id":"3a6603839ae2b387","type":"ui_spacer","z":"099b2475ef64758f","name":"spacer","group":"adf9de0bfa5d1172","order":4,"width":2,"height":1},{"id":"fe8cb7ea3f6ce3ed","type":"influxdb","hostname":"https://aprendiendonodered.com/","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://aprendiendonodered.com:8086","rejectUnauthorized":true},{"id":"90ef093dedf4837c","type":"mqtt in","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"","topic":"cursomqtt/enrique_MKR_1500/temperatura","qos":"2","datatype":"auto-detect","broker":"32b45af9a263ab01","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":100,"wires":[["1e3adba6ba166433","7f372ae8421099a1","bda292aba1946542","43c4f0ded09ab579"]]},{"id":"1e3adba6ba166433","type":"debug","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":60,"wires":[]},{"id":"efc53ad71871c429","type":"mqtt in","z":"099b2475ef64758f","g":"7f80b691e96741a9","name":"","topic":"cursomqtt/enrique_MKR_1500/pulsador","qos":"2","datatype":"auto-detect","broker":"32b45af9a263ab01","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":840,"wires":[["cd71bb17ae70c602"]]},{"id":"f560e9a6b1a3a4b5","type":"mqtt in","z":"099b2475ef64758f","g":"2786cfeef397ebf8","name":"","topic":"cursomqtt/enrique_MKR_1500/status","qos":"2","datatype":"auto-detect","broker":"32b45af9a263ab01","nl":false,"rap":true,"rh":0,"inputs":0,"x":810,"y":100,"wires":[["bb18c86588b2a409","1af1d992fa9dc4ad"]]},{"id":"bb18c86588b2a409","type":"debug","z":"099b2475ef64758f","g":"2786cfeef397ebf8","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":100,"wires":[]},{"id":"7f372ae8421099a1","type":"ui_gauge","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"","group":"ea5a4b1e55395bd8","order":1,"width":3,"height":3,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"21","seg2":"22","className":"","x":510,"y":100,"wires":[]},{"id":"bda292aba1946542","type":"ui_chart","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"","group":"ea5a4b1e55395bd8","order":4,"width":3,"height":3,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":140,"wires":[[]]},{"id":"1a342550afd69e46","type":"mqtt in","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"","topic":"cursomqtt/enrique_MKR_1500/humedad","qos":"2","datatype":"auto-detect","broker":"32b45af9a263ab01","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":240,"wires":[["712bbfd54a05ea20","a5b62dc53528050f","720d5f5ddb70e01c"]]},{"id":"712bbfd54a05ea20","type":"debug","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":200,"wires":[]},{"id":"a5b62dc53528050f","type":"ui_gauge","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"","group":"ea5a4b1e55395bd8","order":2,"width":3,"height":3,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","className":"","x":500,"y":240,"wires":[]},{"id":"720d5f5ddb70e01c","type":"ui_chart","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"","group":"ea5a4b1e55395bd8","order":5,"width":3,"height":3,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":500,"y":280,"wires":[[]]},{"id":"201b186352651b59","type":"mqtt in","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"","topic":"cursomqtt/enrique_MKR_1500/iluminacion","qos":"2","datatype":"auto-detect","broker":"32b45af9a263ab01","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":380,"wires":[["fd65a545c7084e45","afc6e98aa08776dc","80567de1dde59fec","78f20ddbecfe7458"]]},{"id":"fd65a545c7084e45","type":"debug","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":340,"wires":[]},{"id":"afc6e98aa08776dc","type":"ui_gauge","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"","group":"ea5a4b1e55395bd8","order":3,"width":3,"height":3,"gtype":"gage","title":"Iluminacion","label":"lux","format":"{{value}}","min":0,"max":"1000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"500","seg2":"600","className":"","x":510,"y":380,"wires":[]},{"id":"80567de1dde59fec","type":"ui_chart","z":"099b2475ef64758f","g":"5c53e2699a5e9d13","name":"","group":"ea5a4b1e55395bd8","order":6,"width":3,"height":3,"label":"Iluminacion","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":420,"wires":[[]]},{"id":"1af1d992fa9dc4ad","type":"ui_led","z":"099b2475ef64758f","g":"2786cfeef397ebf8","order":1,"group":"c8c0ad062a3bbbc7","width":0,"height":0,"label":"Estado Arduino","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"KO","valueType":"str"},{"color":"#008000","value":"OK","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1070,"y":60,"wires":[]},{"id":"3978346489edb0b1","type":"mqtt in","z":"099b2475ef64758f","g":"2786cfeef397ebf8","name":"","topic":"cursomqtt/enrique_MKR_1500/ledrojo","qos":"2","datatype":"auto-detect","broker":"32b45af9a263ab01","nl":false,"rap":true,"rh":0,"inputs":0,"x":810,"y":180,"wires":[["cac23f3c81b099be","495e3dc36dde7bac"]]},{"id":"cac23f3c81b099be","type":"debug","z":"099b2475ef64758f","g":"2786cfeef397ebf8","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":180,"wires":[]},{"id":"495e3dc36dde7bac","type":"ui_led","z":"099b2475ef64758f","g":"2786cfeef397ebf8","order":2,"group":"c8c0ad062a3bbbc7","width":0,"height":0,"label":"Led Rojo","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"ON","valueType":"str"},{"color":"#000000","value":"OFF","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1070,"y":140,"wires":[]},{"id":"272f75641bad7235","type":"mqtt in","z":"099b2475ef64758f","g":"2786cfeef397ebf8","name":"","topic":"cursomqtt/enrique_MKR_1500/ledamarillo","qos":"2","datatype":"auto-detect","broker":"32b45af9a263ab01","nl":false,"rap":true,"rh":0,"inputs":0,"x":820,"y":260,"wires":[["8086417b960b0ff0","3f6ef883fd8310c9"]]},{"id":"8086417b960b0ff0","type":"debug","z":"099b2475ef64758f","g":"2786cfeef397ebf8","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":260,"wires":[]},{"id":"3f6ef883fd8310c9","type":"ui_led","z":"099b2475ef64758f","g":"2786cfeef397ebf8","order":3,"group":"c8c0ad062a3bbbc7","width":0,"height":0,"label":"Led Amarillo","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffff00","value":"ON","valueType":"str"},{"color":"#000000","value":"OFF","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1070,"y":220,"wires":[]},{"id":"1278e602dc1fc77c","type":"mqtt out","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","topic":"cursomqtt/enrique_MKR_1500/ledrojo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32b45af9a263ab01","x":630,"y":560,"wires":[]},{"id":"43c4f0ded09ab579","type":"switch","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":560,"wires":[["1dd13c64019055d4"],["4014009e81bb9bcd"]]},{"id":"78f20ddbecfe7458","type":"switch","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"500","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":640,"wires":[["dbd827b3da259faf"],["cdb2b2cf62700ae5"]]},{"id":"1dd13c64019055d4","type":"change","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":540,"wires":[["1278e602dc1fc77c"]]},{"id":"4014009e81bb9bcd","type":"change","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":580,"wires":[["1278e602dc1fc77c"]]},{"id":"c6ebba5b4d5f6159","type":"mqtt out","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","topic":"cursomqtt/enrique_MKR_1500/ledamarillo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32b45af9a263ab01","x":640,"y":640,"wires":[]},{"id":"dbd827b3da259faf","type":"change","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":620,"wires":[["c6ebba5b4d5f6159"]]},{"id":"cdb2b2cf62700ae5","type":"change","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":660,"wires":[["c6ebba5b4d5f6159"]]},{"id":"cd71bb17ae70c602","type":"counter","z":"099b2475ef64758f","g":"7f80b691e96741a9","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":460,"y":840,"wires":[["c62a0517c5edaead"]]},{"id":"3b3ee48f3da98aa0","type":"ui_button","z":"099b2475ef64758f","g":"7f80b691e96741a9","name":"","group":"adf9de0bfa5d1172","order":3,"width":2,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":900,"wires":[["59cc5b208874e116"]]},{"id":"4936f2b2952f8a08","type":"ui_gauge","z":"099b2475ef64758f","g":"7f80b691e96741a9","name":"","group":"adf9de0bfa5d1172","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"pulsos","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"25","className":"","x":810,"y":840,"wires":[]},{"id":"c62a0517c5edaead","type":"change","z":"099b2475ef64758f","g":"7f80b691e96741a9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":840,"wires":[["4936f2b2952f8a08"]]},{"id":"59cc5b208874e116","type":"change","z":"099b2475ef64758f","g":"7f80b691e96741a9","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":900,"wires":[["cd71bb17ae70c602"]]},{"id":"cd0b849668ca9d09","type":"ui_switch","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","label":"switch","tooltip":"","group":"c8c0ad062a3bbbc7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":230,"y":720,"wires":[["e51ace374f2e9920"]]},{"id":"e51ace374f2e9920","type":"mqtt out","z":"099b2475ef64758f","g":"94b40fbea8ca9d67","name":"","topic":"cursomqtt/enrique_MKR_1500/ledbuiltin","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"32b45af9a263ab01","x":500,"y":720,"wires":[]},{"id":"b32235d8f4b07bd7","type":"mqtt in","z":"099b2475ef64758f","g":"573ddf8764497146","name":"","topic":"cursomqtt/enrique_MKR_1500/#","qos":"2","datatype":"auto-detect","broker":"32b45af9a263ab01","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":1000,"wires":[["e44e9871c24e9760"]]},{"id":"8097f988a3920483","type":"debug","z":"099b2475ef64758f","g":"573ddf8764497146","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":1000,"wires":[]},{"id":"ed70ffae9326e616","type":"influxdb out","z":"099b2475ef64758f","g":"573ddf8764497146","influxdb":"fe8cb7ea3f6ce3ed","name":"","measurement":"Enrique2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"aprendiendonodered","bucket":"curso 5G","x":700,"y":1040,"wires":[]},{"id":"e44e9871c24e9760","type":"change","z":"099b2475ef64758f","g":"573ddf8764497146","name":"Añade Tags","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"value\":$string(payload)},{\"tag\":topic}]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1000,"wires":[["8097f988a3920483","ed70ffae9326e616"]]}]